{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

{% if current_user.is_authenticated %}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<link rel="stylesheet" href="/static/css/my_css.css">

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1 class="rai-desc">
    RAI
    <small class="rai-desc">Tools for a Robust Future</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active">Users</li>
  </ol>
</section>

<section class="content">
    <h1 class="metricHeader">Cisco Financial AI - Event Log</h1>
    <table class="grey" style="width:60%; margin-left:auto; margin-right:auto; margin-top:50px; text-align:center;">
        <tr>
            <th>Time</th>
            <th>Event</th>
            <th>Class</th>
        </tr>
        <tr>
            <td>10-13-15:03</td>
            <td>Observation Added</td>
            <td>Data Addition</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">10-11-01:31</td>
            <td style="font-weight:bold;">Low Robustness Detected</td>
            <td style="font-weight:bold;">Robustness Warning</td>
        </tr>
        <tr>
            <td>10-11-01:25</td>
            <td>Observation Added</td>
            <td>Data Addition</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">10-09-09:31</td>
            <td style="font-weight:bold;">High Bias Levels Detected</td>
            <td style="font-weight:bold;">Bias Warning</td>
        </tr>
        <tr>
            <td>10-09-09:30</td>
            <td>Observation Added</td>
            <td>Data Addition</td>
        </tr>
        <tr>
            <td>10-08-12:35</td>
            <td>Project Shared with Bill from Business</td>
            <td>Collaborative</td>
        </tr>
        <tr>
            <td>10-08-12:30</td>
            <td>Project Shared with Christopher Vattheuer</td>
            <td>Collaborative</td>
        </tr>
        <tr>
            <td>10-08-12:00</td>
            <td>Cisco Financial AI Created</td>
            <td>General</td>
        </tr>

    </table>

</section>
<!-- /.content -->
{% else %}



<center>
  <section class="content" style="color: white">
    <div class="col-sm-12">
      <h1>Flask-Admin example</h1>
      <p class="lead">
        Authentication
      </p>
      <p>
        This example shows how you can use Flask-Admin in an admin template, <br> here I used AdminLTE and <a href="https://pythonhosted.org/Flask-Security/index.html" target="_blank">Flask-Security</a> for authentication.
      </p>
      {% if not current_user.is_authenticated %}
      <p>You can register as a regular user, or log in as a superuser with the following credentials: <br><br>

        email: <b>admin</b> <br>
        password: <b>admin</b> <br>
        <br>
      <p>
        <a class="btn btn-primary" href="{{ url_for('security.login') }}">Login</a> <a class="btn btn-default" href="{{ url_for('security.register') }}">Register</a>
      </p>
      {% endif %}
      <br>
      <p>
        <a class="btn btn-primary" href="/"><i class="glyphicon glyphicon-chevron-left"></i> Back</a>
      </p>
    </div>
  </section>
</center>

{% endif %}

{% endblock body %}