{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<link rel="stylesheet" href="/static/css/my_css.css">
<script type="text/javascript" src="/static/js/get_events.js"></script>

<!-- Content Header (Page header) -->
<section class="content-header">
      <h1 class="model_name">Model Name: {{model_name}} </h1>
    <h1 class="pageHeader">Event Log</h1>
</section>

<section class="content">
    <h1 class="tableHeader">Events</h1>
    <table class="grey" id="event_list" style="width:60%; margin-left:auto; margin-right:auto; margin-top:50px; text-align:center;">
        <tr>
            <th>Date</th>
            <th>Event</th>
            <th>Description</th>
        </tr>
    </table>
    <script>load_data()</script>

</section>
<!-- /.content -->

{% endblock body %}