{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<link rel="stylesheet" href="/static/css/my_css.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script type="text/javascript" src="/static/js/mainPage.js"></script>


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1 class="rai-desc">
        RAI
        <small class="rai-desc">Tools for a Robust Future</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>

<section class="content">
    <!-- Small boxes (Stat box) -->
    <h1 class="title">{{model_name}}</h1>
    <div class="row" style="margin-bottom: 20px;">
        <div style="display:inline-block; margin-left:50px; color:white; vertical-align:top;">
            <p style="display:inline-block; font-size:17px;">Use Dates:</p>
            <label class="switch" style="vertical-align:top">
                <input type="checkbox" id="slider_input" checked>
                <span class="slider round" onclick="date_slider()"></span>
            </label>
        </div>
        <input class="dateChooser" type="date" id="endDate" value="{{end_date}}" onchange="redoMetrics()">
        <label for="endDate" class="dateChooser">End Date:</label>
        <input class="dateChooser" type="date" id="startDate" value="{{start_date}}" onchange="redoMetrics()">
        <label for="startDate" class="dateChooser">Start Date:</label>
    </div>


    <div class="row contentRow" style="text-align:center;">
        <div class="col-lg-3 col-xs-6 gauge-container outerUpperHeader">
            <!-- small box -->
            <div class="small-box bg-fairness headerBoxStatic" style="display:block;height:140px">
                <img id="fairnessKnobQ" src="/static/img/questionMark.png" alt="Learn more about Unbiased Rating" style="position:absolute; top:1px; right:1px; width:25px; height:25px;">
                <a href="/viewCertificates/Fairness" style="position:absolute; top:1%; left:1%; color:black; font-size:15px;" class="seeMoreText">See More</a>
                <div class="col-xs-4 text-center" style="z-index: 0; width:100%; margin-top:10px">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart black">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <path id="fairnessCircle" class="circle"
                                  stroke-dasharray="0, 100"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <text x="18" y="20.35" id="fairnessText" class="percentage"></text>
                        </svg>
                    </div>
                    <br />
                    <div class="knob-label" style="font-size:20px;">Fairness<br/>Rating</div>
                </div>

            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6 gauge-container outerUpperHeader">
            <!-- small box -->
            <div class="small-box bg-robust headerBoxStatic" style="display:block;height:140px">
                <img id="robustKnobQ" src="/static/img/questionMark.png" alt="Learn more about Fairness Rating" style="position:absolute; top:1px; right:1px; width:25px; height:25px;">
                <a href="/viewCertificates/Robust" style="position:absolute; top:1%; left:1%; color:black; font-size:15px;" class="seeMoreText">See More</a>
                <div class="col-xs-4 text-center" style="z-index: 0; width:100%; margin-top:10px">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart black">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <path id="robustCircle" class="circle"
                                  stroke-dasharray="0, 100"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <text x="18" y="20.35" id="robustText" class="percentage"></text>
                        </svg>
                    </div>
                    <br />
                    <div class="knob-label" style="font-size:20px;">Robustness<br />Rating</div>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6 gauge-container outerUpperHeader">
            <!-- small box -->
            <div class="small-box bg-explain headerBoxStatic" style="display:block;height:140px">
                <img id="explainabilityKnobQ" src="/static/img/questionMark.png" alt="Learn more about Explainability Rating" style="position:absolute; top:1px; right:1px; width:25px; height:25px;">
                <a href="/viewCertificates/Explainability" style="position:absolute; top:1%; left:1%; color:black; font-size:15px;" class="seeMoreText">See More</a>
                <div class="col-xs-4 text-center" style="z-index: 0; width:100%; margin-top:10px">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart black">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <path id="explainabilityCircle" class="circle"
                                  stroke-dasharray="0, 100"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <text x="18" y="20.35" id="explainabilityText" class="percentage"></text>
                        </svg>
                    </div>
                    <br />
                    <div class="knob-label" style="font-size:20px;">Explainability<br />Rating</div>
                </div>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6 gauge-container outerUpperHeader">
            <!-- small box -->
            <div class="small-box bg-dataset headerBoxStatic" style="display:block;height:140px">
                <img id="performanceKnobQ" src="/static/img/questionMark.png" alt="Learn more about Performance Rating" style="position:absolute; top:1px; right:1px; width:25px; height:25px;">
                <a href="/viewCertificates/Performance" style="position:absolute; top:1%; left:1%; color:black; font-size:15px;" class="seeMoreText">See More</a>
                <div class="col-xs-4 text-center" style="z-index: 0; width:100%; margin-top:10px">
                    <div class="single-chart">
                        <svg viewBox="0 0 36 36" class="circular-chart black">
                            <path class="circle-bg"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <path id="performanceCircle" class="circle"
                                  stroke-dasharray="0, 100"
                                  d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
                            <text x="18" y="20.35" id="performanceText" class="percentage"></text>
                        </svg>
                    </div>
                    <br />
                    <div class="knob-label" style="font-size:20px;">Performance<br />Rating</div>
                </div>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <div class="col-sm-6 bg-fairness chart-container main-panel" style="width:48%; left:1%; fill:black;  height:350px;">
            <!-- Custom tabs (Charts with tabs)-->
            <p class="mainPageChartHeader">Fairness Score over Time</p>
            <div id="fairnessChart" class="morris-chart chartScaler" style="height:80%;width:100%;"></div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- right col -->
        <div class="col-sm-6 bg-robust chart-container main-panel" style="width:48%; right:1%; fill:black; float:right;  height:350px;">
            <!-- Custom tabs (Charts with tabs)-->
            <p class="mainPageChartHeader">Robustness Score over Time</p>
            <div id="robustChart" class="morris-chart chartScaler" style="height:80%" ;></div>
            <!-- /.nav-tabs-custom -->
        </div>
    </div>
    <!-- /.row (main row) -->

    <div class="row" style="margin-top:20px;">
        <!-- Left col -->
        <div class="col-sm-6 bg-explain chart-container main-panel" style="width:48%; left:1%; fill:black; height:350px;">
            <!-- Custom tabs (Charts with tabs)-->
            <p class="mainPageChartHeader">Explainability Score over Time</p>
            <div id="explainabilityChart" class="morris-chart chartScaler" style="height:80%;"></div>
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- right col -->
        <div class="col-sm-6 bg-dataset chart-container" style="width:48%; right:1%; fill:black; float:right;  height:350px;">
            <!-- Custom tabs (Charts with tabs)-->
            <p class="mainPageChartHeader">Performance Score over Time</p>
            <div id="performanceChart" class="morris-chart chartScaler" style="height:80%;"></div>
            <!-- /.nav-tabs-custom -->
            <script>load_data()</script>
        </div>
    </div>


</section>
<!-- /.content -->
{% endblock body %}