{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<link rel="stylesheet" href="/static/css/my_css.css">

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1 class="rai-desc">
    RAI
    <small class="rai-desc">Tools for a Robust Future</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa dashboard"></i>Home</a></li>
    <li class="active">Info</li>
  </ol>
</section>

<section class="content">
    <h1 class="metricHeader">Cisco Financial AI - Model Info</h1>
    <table class="grey" style="width:40%; margin-left:auto; margin-right:auto;">
        <tr>
            <th>Name</th>
            <th>Cisco Financial AI</th>
        </tr>
        <tr>
            <td>Description</td>
            <td>Identifies users who are likely to avoid payment.</td>
        </tr>
        <tr>
            <td>Type</td>
            <td>Classification</td>
        </tr>
        <tr>
            <td>Protected Characteristics</td>
            <td>Age, Gender, Race</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>3/10/2021</td>
        </tr>
        <tr>
            <td>Model Type</td>
            <td>Random Forest Classifier</td>
        </tr>
        <tr>
            <td>Input Type</td>
            <td>Structured</td>
        </tr>
    </table>

    <h1 class="metricHeader">Inputs</h1>
    <table class="grey" style="width:40%; margin-left:auto; margin-right:auto;">
        <tr>
            <th>Input</th>
            <th>Impact</th>
        </tr>
        <tr>
            <td>Credit Score</td>
            <td>45%</td>
        </tr>
        <tr>
            <td>Shoe Size</td>
            <td>3%</td>
        </tr>
        <tr>
            <td>History of Payment</td>
            <td>16%</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>3%</td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>6%</td>
        </tr>
        <tr>
            <td>Zip Code</td>
            <td>10%</td>
        </tr>
    </table>

    <h1 class="metricHeader">Outputs</h1>
    <table class="grey" style="width:40%; margin-left:auto; margin-right:auto;">
        <tr>
            <th>Type</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Reliable</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Unreliable</td>
            <td>0</td>
        </tr>
    </table>

</section>
<!-- /.content -->

{% endblock body %}