{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script type="text/javascript" src="/static/js/helper_functions.js"></script>
<script type="text/javascript" src="/static/js/metric_info.js"></script>
<link rel="stylesheet" href="/static/css/my_css.css">

<!-- Content Header (Page header) -->
<section class="content-header">
      <h1 class="model_name">Model Name: {{model_name}} </h1>
    <h1 class="pageHeader">{{metric_display_name}}</h1>
</section>


<section class="content control_content">
    <div class="row controller_row">
        <div style="display:inline-block; margin-left:0px; color:white; float:left; margin-left:10px; vertical-align:top;">
            <p style="display:inline-block; font-size:17px;">Use Dates:</p>
            <label class="switch" style="vertical-align:top">
                <input type="checkbox" id="slider_input">
                <span class="slider round" onclick="date_slider()"></span>
            </label>
        </div>
        <input class="dateChooser" type="date" id="endDate" value="{{end_date}}" onchange="redoMetrics()" style="float:right; margin-right: 20px;">
        <label for="startDate" class="dateChooser" style="margin-right: 20px; float:right;">End Date:</label>
        <input class="dateChooser" type="date" id="startDate" value="{{start_date}}" onchange="redoMetrics()"style="float:right; margin-right: 20px;">
        <label for="startDate" class="dateChooser" style="float:right; margin-right: 20px;">Start Date:</label>
        <br>
    </div>

    </section>

    <div id="metric_row">
    </div>

    <table class="styled-table" style="width:40%; margin-left:auto; margin-right:auto; margin-top:25px;">
        <thead>
        <tr>
            <th>Name</th>
            <th> {{metric_display_name}} </th>
        </tr>
        </thead>
        <tr>
            <td style="font-weight:bold;">Range</td>
            <td> {{metric_range}} </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Explanation</td>
            <td> {{metric_explanation}} </td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Type</td>
            <td>{{metric_type}}</td>
        </tr>
        <tr>
            <td style="font-weight:bold;">Tags</td>
            <td> {{metric_tags}} </td>
        </tr>
    </table>
    <script>loadData("{{metric_hidden_name}}", "{{metric_range}}", "{{metric_display_name}}", "{{metric_type}}", "{{metric_has_range}}")</script>
</section>

{% endblock body %}