{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<link rel="stylesheet" href="/static/css/my_css.css">

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1 class="rai-desc">
    RAI
    <small class="rai-desc">Tools for a Robust Future</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i>Home</a></li>
    <li class="active">Users</li>
  </ol>
</section>

<section class="content">
    <h1 class="metricHeader">Cisco Financial AI - Users</h1>
    <table class = "grey" style="width:60%; margin-left:auto; margin-right:auto; margin-top:50px;">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <tr>
            <td>Christopher Vattheuer</td>
            <td>cvattheu@cisco.com</td>
            <td>Admin</td>
        </tr>
        <tr>
            <td>Ali Payani</td>
            <td>apayani@cisco.com</td>
            <td>Owner</td>
        </tr>
        <tr>
            <td>Bill from Business</td>
            <td>businessbill@cisco.com</td>
            <td>User</td>
        </tr>
    </table>
    <button style="background-color:#3c8dbc; margin-top:1%; margin-right:20%; color:black; padding:10px; float:right">Add New Member</button>

</section>
<!-- /.content -->

{% endblock body %}