{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script type="text/javascript" src="/static/js/view_cert.js"></script>
<link rel="stylesheet" href="/static/css/my_css.css">

<!-- Content Header (Page header) -->
<section class="content-header">
      <h1 class="model_name">Model Name: {{model_name}} </h1>
    <h1 class="pageHeader">{{certificate_name}} History</h1>
</section>

<section class="content">
    <h1 class="metricHeader">{{certificate_name}} History</h1>
    <table class="grey" style="width:40%; margin-left:auto; margin-right:auto;">
        <tr>
            <th>Date</th>
            <th>Score</th>
            <th>Explanation</th>
            <th>Badge Description</th>
            <th>Measurement Description</th>
        </tr>
        {% for v in features %}
            <tr>
                <td>{{v.date}}</td>
                <td><center><i class="fa {{v.score_class}} fa-2x"></i></center></td>
                <td>{{v.explanation}}</td>
                <td>{{v.description}}</td>
                <td>{{v.measurement_description}}</td>
            </tr>
        {% endfor %}
    </table>

    <h1 class="metricHeader">Last Conditions, {{union}}</h1>
    <table class="grey" style="width:40%; margin-left:auto; margin-right:auto;">
        <tr>
            <th>Condition</th>
            <th>Evaluation</th>
        </tr>
        {% for v in conditions %}
            <tr>
                <td>{{v.name}}</td>
                <td>{{v.result}}</td>
            </tr>
        {% endfor %}
    </table>

</section>
<!-- /.content -->

{% endblock body %}