metricHeader {
    text-align: left;
    color: black;
    margin-left: 5px;
}

tableHeader {
    text-align: center;
    color: black;
    margin-left: 5px;
}
h1.tableHeader {
    text-align: center;
    color: black;
    margin-left: 5px;
}

h1.pageHeader {
    text-align: left;
    color: black;
    float:right;
    margin-left: 20px;
}

h1.model_name {
    float:left;
    display:inline-block;
    color: black;
    margin-left:5px;
}

p.chart-container {
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
}

p.gauge-container {
    color: black;
}


.morris-chart text {
    fill: black;
    font-size:16px;
}

.bg-fairness{
    background-color: #ffffff;
}

.bg-robustness{
    background-color: #ffffff;
}

.bg-explain{
    background-color: #ffffff;
}

.bg-dataset{
    background-color: #ffffff;
}

div.explainabilityMetric {
    width:88%;
    margin-left:6%;
    margin-right:auto;
    height:200px;
    margin-top: 40px;
    background-color:azure;
    fill: black;
    border-width:3px;
    border-style: solid;
    border-radius: 15px;
    border-color: #09134e;
}


div.robustnessMetric {
    width:88%;
    margin-left:6%;
    margin-right:auto;
    height:200px;
    margin-top: 1px;
    margin-bottom:20px;
    background-color:white;
    fill: black;
    border-width:3px;
    border-style: solid;
    border-radius: 15px;
    border-color: #09134e;
}

div.statsMetric {
    width:88%;
    margin-left:6%;
    margin-right:auto;
    height:200px;
    margin-top: 1px;
    margin-bottom:20px;
    background-color:white;
    fill: black;
    border-width:3px;
    border-style: solid;
    border-radius: 15px;
    border-color: #09134e;
}

div.performanceMetric {
    width:88%;
    margin-left:6%;
    margin-right:auto;
    height:200px;
    margin-top: 1px;
    margin-bottom:20px;
    background-color:white;
    fill: black;
    border-width:3px;
    border-style: solid;
    border-radius: 15px;
    border-color: #09134e;
}

div.fairnessMetric {
    width:88%;
    margin-left:6%;
    margin-right:auto;
    height:200px;
    margin-top: 1px;
    margin-bottom:20px;
    background-color:white;
    fill: black;
    border-width:3px;
    border-style: solid;
    border-radius: 15px;
    border-color: #09134e;
}

div.Metric{
    text-align:center;
}


div.MetricPage {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    background-color:azure;
    fill: black;
    border-width:3px;
    border-style: solid;
    border-radius: 15px;
    border-color: #09134e;
}

div.overflow_table {
    overflow: scroll;
    height:75%;
}

div.front_overflow_table {
    overflow: scroll;
    height:100%;
    margin-top:10px;
}


p.chartHeader {
    display:inline-block;
    margin-left:8px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
}

p.mainPageChartHeader {
    display:block;
    margin-left:8px;
    text-align: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: black;
}

p.chartValue{
    margin-top:-1px;
    display:inline-block;
    text-align: center;
    font-size: 25px;
    margin-top: 0px;
    margin-left: 8px;
    margin-bottom: 0px;
    color: black;
}

.morris-chart {
    height:100%;
}


.learnMore {
    position: absolute;
    top: 1px;
    right: 30px;
    width: 25px;
    height: 25px;
}

.learnMoreLink {
    position: absolute;
    top: 1px;
    color: black;
    right: 1px;
    width: 25px;
    height: 25px;
}


.rai-desc {
    color:white;
    display:inline-block;
}

.title {
    color:white;
    text-align:center;
}




table {
    border-collapse: collapse;
    width: 100%;
}

th.grey td.grey {
    border: 1px solid #08012f;
    font-size:16px;
    text-align: left;
    padding: 8px;
    color:black;
}



.grey tr:nth-child(even) {
    background-color: #eef1f5;
}

.grey tr:nth-child(odd) {
    background-color: #ffffff;
}

.displayMatrix {
    border-color: black;
    border-width: 2px;
    margin-top: auto;
    margin-bottom: auto;
    background-color: transparent;
}

td.displayMatrix, th.displayMatrix {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
    color:black;
}


.selector {
    width: 400px;
    background-color: #134e66;
    color: white;
    border-radius:15px;
    margin-left:auto;
    margin-right:auto;
}

.selectorHeader{
    text-align:center;
    font-size:15px;
}

.selectorButton {
    background-color: #134e66;
    color:white;
    width:50px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:5px;
    display:block;
}

.selectorBox{
    margin-left:5px;
}

.editView {
    background-color: #134e66;
    color:white;
    float:left;
    margin-right:15px;
    margin-left: 30px;
    margin-top:20px;
}

.removeChart {
    position: absolute;
    top: 1px;
    left: 1px;
    background-color: #24284e;
    color:white;
}

input.innerBox {
    margin-left:15px;
    overflow:break-word;
}

input.parentBox {
    margin-left: 5px;
}

.dateChooser {
    float:left;
    margin-right:15px;
}

label.dateChooser {
    margin-bottom: 0;
    margin-right: 2px;
    margin-top: 3px;
    color: white;
}



.gauge-div{
    margin-top:25px;
}



.knob-label {
    color: black;
    margin-top:18px;
}




.headerBoxStatic {
    width: 292px;
    margin-right: 5px;
}


.outerUpperHeader {
}


.chartScaler{
    width:100%;
    height:80%;
}

.chartScalerSmall {
    width: 100%;
    height: 80%;
}


.contentRow {
}















.flex-wrapper {
    display: flex;
    flex-flow: row nowrap;
}

.single-chart {
    width: 40%;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-around;
    float:left;
    margin-top:10px;
}

.circular-chart {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 250px;
}

.circle-bg {
    fill: none;
    stroke: #5ebade;
    stroke-width: 3.8;
}

.circle {
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
}

@keyframes progress {
    0% {
        stroke-dasharray: 0 100;
    }
}

.circular-chart.black .circle {
    stroke: #000000;
}

.circular-chart.green .circle {
    stroke: #4CC790;
}

.circular-chart.blue .circle {
    stroke: #3c9ee5;
}

.percentage {
    fill: #000000;
    font-family: sans-serif;
    font-size: 0.5em;
    text-anchor: middle;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}


.red {
  color: red;
}

.green{
    color:green;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}


.controller_row{
    margin-top:4px;
    margin-bottom:4px;
}

.control_content{
    margin-top: 40px;
    margin-bottom: 20px;
    border-style: groove;
    border-radius: 5px;
    margin-left: auto;
    width:60%;
    margin-right: auto;
    padding-bottom: 20px;
    background-color: #18343f;
}


.main_content_background{
    border-style: outset;
    background-color: #dee4ee;
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 15px;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    color:black;
}


.styled-table thead tr {
    background-color: #214858;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #eef1f5;;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #214858;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #000000;
}


/* top-left border-radius */
.styled-table tr:first-child th:first-child,
table.Info tr:first-child td:first-child {
    border-top-left-radius: 6px;
}

/* top-right border-radius */
.styled-table tr:first-child th:last-child,
table.Info tr:first-child td:last-child {
    border-top-right-radius: 6px;
}

/* bottom-left border-radius */
.styled-table tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}

/* bottom-right border-radius */
.styled-table tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}


div.legend {
    width:60%;
    font-size:18px;
    border-color:black;
    color:black;
    border:1px;
}

div.solid-box {
    width:15px;
    height:15px;
    display:inline-block;
}

p.legend-text {
    margin-bottom:0px;
    display:inline-block;
}


