tr.data-summary-main-row {
    border-bottom: 1px solid #a0a0a0;
}

.data-summary-title {
    font-weight: bold;
    padding: 5px 15px;
    width: 8vw;
    text-align: center;
}

.data-summary-content {
    padding: 5px 15px;
}

.data-summary-content-hist-title {
    text-align: center;
    padding: 2px 0;
}

td div.data-summary-content-hist {
    width: 30vw;
    height: 20vw;
    padding: 0 3px;
}

.data-summary-content-half {
    width: 30vw;
    height: 20vw;
}

#gradcam-class-radio label {
    background: #f0f0f0;
    border-color: #808080;
    border-width: 1px 1px 0 1px;
    cursor: pointer;
    border-style: solid;
    padding: 1px 6px 0 6px;
}

#gradcam-class-radio label input[type="radio"] {
    visibility: hidden;
    width: 0;
    height: 0;
}

#gradcam-display tr {
    border: 0px;
}

#gradcam-display table {
    border: #808080 solid 1px;
    text-align: center;
}

#gradcam-display-title-row {
    padding: 3px 0 3px 0;
    font-weight: 700;
}

.gradcam-display-table-row td:first-child {
    border-right: #808080 solid 1px;
}