.app-header {
    height: 60px;
    line-height: 60px;
    border-bottom: thin rgb(51, 6, 6) solid;
}

.app-header .app-header--title {
    font-size: 22px;
    padding-left: 5px;
}

 

.model-info-table {
    
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    white-space: pre;
}


.model-info-table tr:nth-child(even){background-color: #f2f2f2;}
.model-info-table tr:hover {background-color: #ddd;}
.model-info-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

 

.accordion-button {
    text-align: left;
    font-size: .4cm;
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* display: block; */
    background-color: #f6f9fadb
}