@import "variables.css";

body {
    font-family: sans-serif;
}
h2  {
    color:   brown
}
h4 {
 color: var(--blue)
}

h2 {
    font-family: 'Franklin Gothic Medium';
    font-size:xx-large;
}

.Select-control {
    border-radius: 5px;
    border: 1px solid var(--blue);
}
